In [1]:
import pandas as pd
import json

In [2]:

#movie_df = pd.read_csv("input/combined_data.csv")
rating_df = pd.read_csv("data.csv", names=["movie_id","user_id","rating","date"])
rating_df.groupby(by  = "user_id")["movie_id"].count().sort_values()
len(rating_df[rating_df["user_id"]==305344]["movie_id"].unique())
rating_df["user_id"].dtype
sorted_movie_ids = rating_df.movie_id.value_counts().index.to_list()
poc_ids = sorted_movie_ids[5000:5010]
sample_df = rating_df[rating_df.movie_id.isin(poc_ids)]
sample_df
len(sample_df["user_id"].unique())
sample_df.to_csv("input/poc_data.csv",index = False)
sample_df_links_only = sample_df[["movie_id","user_id"]]

In [57]:
def make_graph_data(df:pd.DataFrame):
    movie_df = pd.DataFrame(columns=["id","group"])
    user_df = pd.DataFrame(columns=["id","group"])
    movie_df["id"] = df["movie_id"].unique()
    movie_df["group"] = 1
    user_df["id"] = df["user_id"].unique()
    user_df["group"] = 2
    nodes_df=  pd.concat([user_df,movie_df])
    del(movie_df)
    del(user_df)
    link_df = df[["movie_id","user_id","rating"]].rename(columns={"movie_id":"target","user_id":"source","rating": "value"}).drop_duplicates(subset = ["source","target"])
    #consolidated_df = pd.DataFrame(columns=["nodes","links"])
    print(nodes_df.group.unique())
    consolidated_dict = {"nodes":nodes_df.to_dict(orient="records"),"links":link_df.to_dict(orient="records")}
    return consolidated_dict

In [58]:
sample_data = pd.read_csv("input/poc_data.csv")
sample_data

       movie_id  user_id  rating        date
0           239   589931       5  2004-04-01
1           239   488477       4  2004-09-16
2           239   501780       4  2004-10-05
3           239  1576388       3  2004-11-29
4           239  1357960       4  2005-02-05
...         ...      ...     ...         ...
21919     16870  1704416       3  2005-06-20
21920     16870    15737       4  2005-06-30
21921     16870   402619       4  2005-09-29
21922     16870  2090969       4  2005-10-23
21923     16870  2281042       3  2005-11-03

[21924 rows x 4 columns]

In [59]:
result = make_graph_data(sample_data)

[2 1]

In [60]:
len(result["nodes"])

19049

In [61]:
json.dump(result,open("netflix_viz/src/assets/graph_data_poc.json","w") ,indent = 4)

In [39]:
x = json.load(open("src/assets/graph_data_poc.json"))

In [45]:
len(x["links"])

21924